{% extends '/layout/user.html.twig' %}
{% block title %}home{% endblock %}
{% block bodyclass %}home{% endblock %}
{% block body %}

    <div class="container">
        {% if not app.user %}
            <p>Connectez-vous et profitez de ce super mega trop top site !!!!!!!!!!!!!!!!</p>
        {% endif %}
        {% if app.user %}
            <h2 class="title toggle-form">Filtrer les jeux</h2>
            {% include 'home/_form-filter.html.twig' %}
            {% if games is not null %}
                <div class="game-list">
                    {% for game in games %}
                        {% include '/home/game.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        {{ knp_pagination_render(games) }}
    </div>
{% endblock %}