{% extends '/layout/user.html.twig' %}
{% block title %}home{% endblock %}
{% block bodyclass %}home{% endblock %}
{% block body %}
    <div class="container" >
        {% if not app.user %}
            <p>Connectez-vous et profitez de ce super mega trop top site !!!!!!!!!!!!!!!!</p>
        {% endif %}
        {% if app.user %}
            {% if app.request.get('message') %}
                <p class="success">Votre message à bien été envoyé</p>
            {% endif %}
            {% if not item %}
                {% include '/home/slider-game.html.twig' %}
            {% else %}
                {% if games is not null %}
                    {% for game in games %}
                        {% include '/home/game.html.twig' %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if not item %}
                <h2 class="title" style="margin: 4rem 0"> News</h2>
{#                <div class="row row-cols-1 row-cols-md-2 gy-5">#}
                <div class="posts">
            {% endif %}
            {% if posts is not null %}

                {% for post in posts %}
                    {% include '/home/post.html.twig' %}
                {% endfor %}
            {% endif %}
            {% if not item %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
