{% extends '/layout/user.html.twig' %}
{% block title %}home{% endblock %}
{% block bodyclass %}home{% endblock %}
{% block body %}
    <div class="container container-full-page-nav" style="overflow: hidden">
        {% if not app.user %}
            <p>Connectez-vous et profitez de ce super mega trop top site !!!!!!!!!!!!!!!!</p>
        {% endif %}
        {% if app.user %}
            {% if app.request.get('message') %}
                <p class="success">Votre message à bien été envoyé</p>
            {% endif %}
            {% if not item %}
                {% include '/home/slider-game.html.twig' %}
            {% else %}
                {% if games is not null %}
                    {% for game in games %}
                        {% include '/home/game.html.twig' %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if not item %}
                <div class="posts" style="margin: 4rem 0 0 4rem"></div>
            {% endif %}
            {% if posts is not null %}
                <h2 class="title"> News</h2>
                {% for post in posts %}
                    {% include '/home/post.html.twig' %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
