{% extends 'layout/admin.html.twig' %}
{% block title %}Hello AdminPostCategoryController!{% endblock %}
{% block body %}
    <div class="container">
        <ul class="items-crud post-categories">
            {% for post in posts %}
                <li class="post-category">
                    <span>{{ post.title }}</span>
                    <div class="buttons">
                        <a class="btn btn-danger" href="{{ path("delete_post", {'id': post.id}) }}">✖</a>
                        <a class="btn btn-success" href="{{ path("update_post", {'id': post.id}) }}">↑</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path("add_post") }}" class="btn" style="margin-top: 2rem">Ajouter un post</a>
    </div>
{% endblock %}
