{% extends '/layout/admin.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Liste des jeux</h1>
        <ul class="items-crud">
            <li class="message-category post-category">
                <span>{{ message.content|slice(0,10) ~ ' - ' ~ message.topic.title ~ ' - ' ~ message.user.firstName ~ ' ' ~ message.user.lastName ~ ' - ' ~ message.createdAt|date('\\l\\e d/m/Y à H:i:s',"Europe/Paris") }}</span>
                <div class="buttons">
                    <a class="btn btn-success" href="{{ path('admin_message_edit', {'id': message.id}) }}">↑</a>
                    {% include('admin_message/_delete_form.html.twig') %}
                </div>
            </li>
        </ul>
        <a style="display: block;margin-top: 2rem" href="{{ path('admin_message_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
