{% extends '/layout/admin.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Créer un jeu</h1>

        {{ include('admin_game/_form.html.twig') }}

        <a class="btn" href="{{ path('admin_game_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
