@use 'media-queries' as m;
.glass {
  background: rgba( 255, 255, 255, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class⁼col-] {
  flex-basis: 100%;
}
$columns: 12;
@include m.mq(big) {
  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 (100% / ($columns / $i));
    }
    .col-offset-#{$i} {
      margin-left: 100% / ($columns/$i);
    }
  }
}
.container {
  width: 70vw;
  margin: 0 auto;
  &-full-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  &-full-page-nav {
    min-height: calc(100vh - var(--nav-height) - 15rem - 9.5rem);
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  @include m.mq(large) {
    width: 80vw;
  }
  @include m.mq(small) {
    width: 85vw;
  }
}
