footer, .footer {
  margin-top: 4rem;
  min-height: 20rem;
  background: rgba(51, 51, 51, 0.5);
  color: #f1f1f1;
  padding: 2rem;
  display: flex;
  align-items: center;
  p {
    text-align: center;
  }
}