.forums {
  display: grid;
  grid-gap: 2rem;
  .forum li {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 2rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    h2 {
      display:flex;
      margin-bottom: 0;
      align-items: center;
      margin-left: 17rem;

      img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1rem 0 0 1rem;
        height: 100%;
        margin-right:1rem;
      }
    }
  }
}