.game-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}
.stars {
  color: #e0d0ff
}
.game {
  position: relative;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  min-height: 100%;
  &:hover {
    .img-box  {
      img, &:after {
        transform: scale(1.025);
      }
    }
  }
  .btn-icon {
    position: absolute;
    bottom: 0;
    right: 2rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .description {
    margin-bottom: 8rem;
  }
  .img-box {
    min-width:100%;
    max-height: 32.5rem;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    &:after {
      content: '';
      background-image: var(--src);
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      transition: transform .2s ease-in-out;
    }
  }
  img {
    position: relative;
    object-fit: cover;
    object-position: center bottom;
    min-width: 100%;
    animation-duration:1.5s;
    transition: transform .2s ease-in-out;
  }
  & > *:not(.img-box):not(a) {
    padding: 2rem;
  }

  .btn {
    display: inline-block;
  }
}
.games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 9rem));
  grid-gap: 1rem;
  overflow: hidden;

  p {
    text-align: center;
    border-radius:.3rem;
    font-size: 1.4rem;
  }

  @for $i from 1 through 5 {
    --c1: #8b1b7e;
    --c2: #1f276f;
    --c3: #339a2f;
    --c4: #dd49f6;
    --c5: #06340d;
    p:nth-of-type(#{$i}) {
      background: var(--c#{$i});
    }
  }
}
.game-alone {
  .img-box {
    max-height: 50rem;
  }
}

.game-top {
  .title {
    max-width: 80%;
  }
  display: grid;
  grid-template-columns: repeat(2,auto);
  max-width: 100%;
}
.game-top-right {
  height: fit-content;
  display:grid;
  direction: rtl;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, 2rem);
  place-items: center;
  img {
    max-width: 1rem;
    filter: grayscale(1);
  }
}