.items-crud {
  //display: grid;
  //grid-gap: 2rem;
 li {
   background: rgba(241, 241, 241, 0.4);
   padding: 1.5rem;
   p {
     max-height: 0;
     transition: max-height .2s ease-in-out, opacity .2s ease-in-out;
     opacity: 0;
     border-top: .1rem solid rgba(251, 251, 251, 0.15);
     font-size: 1.4rem;
   }

   &:hover p {
     opacity: 1;
   }
 }
  li + li {
    margin-top:2rem;
  }

  .message + .message {
    margin-top: 6rem;
  }

  .post-category, .contact-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .3rem;
  }
}