{% extends '/layout/user.html.twig' %}
{% block title %}home{% endblock %}
{% block bodyclass %}home{% endblock %}
{% block body %}
    <div class="container container-full-page-nav">
        <div class="error">Error 404</div>
    </div>
{% endblock %}