<footer class="footer">
    <div class="container">
        <div class="row">
            <p>© 2021</p>
            <hr style="opacity: .2; margin: 2rem 0">
            <div class="col-md-6">{{ show_stats() | raw }}</div>
            <div class="col-md-6" style="text-align: center">{{ show_society() | raw }}</div>
        </div>
    </div>
</footer>